<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Page Title</title>
<style>
.myDiv {

  background-color: lightblue;    
  text-align: center;
   margin-bottom: 30px;
   margin-top: 25px;
}
h1 {text-align: center;}

</style>
</head>

<body>

<h1>Assignment category</h1>

<div class=myDiv>
<form action="/action_page">
  <label for="fname">ENTER STUDENT NAME <br> OR <br> SUBJECT NAME:<br></label>
  <input type="text" id="fname" name="fname"><br><br>
  
  <input type="submit" value="Submit">
</form>
</div>

<div class=myDiv>
<a href="https://www.w3schools.com/">ASSIGNMENT CATEGORY</a><br><br>
<a href="https://www.w3schools.com/">ENROLL NEW STUDENT</a>
</div>
</body>
</html>
